* {box-sizing: border-box;
}


body {
    font-family: Arial, sans-serif;
    font-weight: 400;
    font-size: 1.2rem;
    line-height: 1.4;
    color: darkblue;
    background-color: whitesmoke;
}

#nav-bar{
    background:linear-gradient(#2C3E50, #395D87);
    width: 100%;
    top: 0;
    left: 0;
    height: 30%;
    position: fixed;
    display: inline;
    justify-content: flex;

}

a {
    color: whitesmoke;
    justify-content: space-between;
    margin: 4rem;
    flex-direction: row;
}
#photo-alexandre {
    max-width: 40%;
    height:%;
    border-radius: 10%;
    justify-content: left;
    margin-top: 20px;
    margin-left: 20px;
    display: inline;
    margin-bottom: 5%;
}
#nav-list {
    color:whitesmoke;
    margin: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    list-style-type: none;
    font-size: xx-large;
    font-family: 'Trebuchet MS', sans-serif;
}
#lien-navbar {
    flex-direction: row;
    list-style: none;
    color: whitesmoke;
    text-decoration: none;
    padding: 1rem 2rem;
}
a {
    text-decoration: none;
}
a:hover{
    color:whitesmoke;
}
main {
    margin: 5vw;
    margin-bottom: 100px;
    padding: 5px;

}
.welcome-section{
    height: 100vw;
    width: 100%;
}
#welcome-section{
    margin-top: 15vw;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    color: #3A4A7D;

}
#citation-1{
    font-style: italic;
    font-size: xxx-large;
    color: #8a9eb5;
    font-family: "Raleway", sans-serif,;
    text-align: center;
    margin: 2.5rem 0.5rem 2.5rem auto;
}
aside {
    width: 20%;
    height: 100%;
    float: right;
    background-color:  #3A4A7D ;
    color: whitesmoke;
    border-radius: 10%;
    padding: 1%;
    justify-content: space-between;
    margin: 5px
}

#capitainhadock {
    border-radius: 30%;
    max-width: 100%;
    height: 40%;
    width: 40%;
}
footer{
    background-color: #8a9eb5;
    color: whitesmoke;
    font-style: italic;
    font-size: smaller;
    text-align: center;
    padding: 25px;
    border-radius:5px;
    position: initial;
}