* {box-sizing: border-box;
}


body {
    font-family: Arial, sans-serif;
    font-weight: 400;
    font-size: 1.2rem;
    line-height: 1.4;
    color: darkblue;
    background-color: whitesmoke;
}

#nav-bar{
    background:linear-gradient(#2C3E50, #395D87);
    width: 100%;
    top: 0;
    left: 0;
    position: fixed;
    display: inline;
    justify-content: flex-end;
}
#lien-navbar {
    display: inline-flex;
    flex-direction: row;
    list-style: none;
    color: whitesmoke;
    text-decoration: none;
    font-size: 1em;
    padding: 1rem 2rem;
}

#photo-alexandre {
    max-width: 12%;
    height:10%;
    border-radius: 10%;
    justify-content: left;
    margin-top: 20px;
    margin-left:20 px;
    margin-right: 700px;
    margin-bottom: 10px;
}


a {
    text-decoration: none;
}

main {
    margin: 35px;
}
.welcome-section{
    height: 100vw;
    width: 100%;
}
#welcome-section{
    margin-top: 200px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

aside {
    width: 20%;
    height: 100%;
    float: right;
    background-color: deeppink;
}

#capitainhadock {
    border-radius: 30%;
    max-width: 100%;
    height: 40%;
    width: 40%;
}