* {
    box-sizing: border-box;
    scroll-behavior: smooth;
}


body {
    font-family: Arial, sans-serif;
    font-weight: 400;
    font-size: 1.2rem;
    line-height: 1.4;
    color: darkblue;
    background-color: whitesmoke;
}

#nav-bar{
    background:linear-gradient(#2C3E50, #395D87);
    width: 100%;
    top: 0;
    left: 0;
    height: 30%;
    position: fixed;
    display: inline;
    justify-content: flex-start;

}
@media (max-width: 790px) {
    #nav-bar{
        height: 20%;
        display: flex;
    }
}

a {
    color: whitesmoke;
    justify-content: space-between;
    margin: 3rem;
    flex-direction: row;

}
@media (max-width: 780px){
    a{  font-size: 0.9rem;
        color: whitesmoke;
        margin: 0.5rem;
        justify-content: center;

    }
}
#photo-alexandre {
    max-width: 40%;
    min-width: 20%;
    border-radius: 10%;
    justify-content: left;
    margin-top: 5%;
    margin-left: 5%;
    display: inline;
    margin-bottom: 5%;
}
@media (max-width: 400px){
    #photo-alexandre {
        display: none;

    }
}

#nav-list {
    color:whitesmoke;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    list-style-type: none;
    font-size: 3vw;
    font-family: 'Trebuchet MS', sans-serif;

}
@media (max-width: 780px){
    #nav-list {
        width: 100%;
        text-align: left;
        font-size: medium;
        padding: 0;
        justify-content: center ;
        align-items: center;

    }
}
#lien-navbar {
    flex-direction: row;
    list-style: none;
    color: whitesmoke;
    text-decoration: none;
    padding: 1rem 2rem;
}
@media  (max-width: 780px){
    #lien-navbar{
        flex-direction: unset;
    }
}

a {
    text-decoration: none;
}
a:hover{
    color:whitesmoke;
}
main {
    margin: 5vw;
    margin-bottom: 10%;
    padding: 5%;

}
.welcome-section{
    height: 100vw;
    width: 100%;
}
#welcome-section{
    margin-top: 15vw;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    color: #3A4A7D;
}
@media (max-width: 790px) {
    #welcome-section{ margin-top: 130px;}
}
#citation-1{
    font-style: italic;
    font-size: xxx-large;
    color: #8a9eb5;
    font-family: "Raleway", sans-serif,;
    text-align: center;
    margin: 2.5rem 0.5rem 2.5rem auto;
}
@media (max-width: 790px) {
    #citation-1{
        font-size: xx-large;
    }
}
aside {
    width: 20%;
    height: 100%;
    float: right;
    background-color:  #3A4A7D ;
    color: whitesmoke;
    border-radius: 25px;
    padding: 0.5rem;
    justify-content: space-between;
    margin: 1rem
}
@media (max-width: 768px) {
    aside {
        width: 100%;
        float: none;
    }
}
#capitainhadock {
    border-radius: 30%;
    max-width: 100%;
    height: 40%;
    width: 40%;
}
#pied-de-page{
    background-color: #8a9eb5;
    color: whitesmoke;
    font-style: italic;
    font-size: smaller;
    text-align: center;
    padding: 5%;
    border-radius:5px;
    position: initial;
    height: 10%;
}
#logo{
    width: 50px;
    height: 50px;

}