* {
    box-sizing: border-box;
}


body {
    font-family: Arial, sans-serif;
    font-weight: 400;
    font-size: 1.2rem;
    line-height: 1.4;
    color: darkblue;
    background-color: whitesmoke;
}
#navbar {
    background-color: #55519C;
    width: 100%;
    top: 0;
    left: 0;
    position: fixed;
    display: flex;
    justify-content: flex-end;
}
#nav-list{
    display: flex;
    flex-direction: row;

}

li {
    list-style: none;

}

.a-list {
    color: white;
    text-decoration: none;
    font-size: 1em;
    padding: 1rem 2rem;
}

a:hover{
    background-color: #5072A7;
    width: 100%;
    height: 100%
}

a{ text-decoration: none}

.welcome-section{
    height: 100vw;
    width: 100%;

}

#welcome-section{
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    text-align: center
}

#photo-alexandre {
    max-width: 20%%;
    height: 10%;
    width: 10%;
    border-radius: 20%;
}

img {
    max-width: 100%;
    height: 40%;
    width: 40%;
}


main {

}

aside {
    width: 20%;
    height: 100%;
    float: right;
    background-color: deeppink;
}

#capitainhadock {
    border-radius: 30%;
}