* {
    box-sizing: border-box;
}

a{
    text-decoration: none;
    color:whitesmoke;

}

body {
    font-family: Arial, sans-serif;
    font-weight: 400;
    font-size: 1.2rem;
    line-height: 1.4;
    color: darkblue;
    background-color: whitesmoke;

}
#nav-bar {
    background:linear-gradient(#635FB0,#37323E);
    width: 100%;
    top: 0;
    left: 0;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: justify;

}
#lien-navbar {
    display: flex;
    flex-direction: row;
    color: white;
    text-decoration: none;
    font-size: 1em;
    padding: 1rem 2rem;
    margin-right: 15px;
    list-style-type: none;
}
#photo-alexandre {
    height: 30%;
    max-width: 35%;
    border-radius: 10%;
    justify-content: left;
    margin-left: 20px;

}

#lien-navbar:hover{
    text-decoration: none;
    list-style-type: none;
}

.welcome-section{
    font-family: 'Trebuchet MS', sans-serif;
    height: 100vw;
    width: 100%;

}

#welcome-section{
    margin-top: 210px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;

}
.citation{
    color: ;
    font-family: system-ui;
    font-style: italic;
    font-size: 2.7rem;
    text-align: center;
    margin: 2.5rem 0.5rem 2.5rem auto;
}

main{
    margin: 30px;
}

h2{
    font-size: xx-large;
}
aside {
    width: 25%;
    height: 100%;
    float: right;
    background-color: darkslateblue;
    color: aliceblue;
    border-radius: 10%;
}
@media (max-width: 768px) {
    aside {
        width: 100%;
        float: none;
    }
}
#citation-2{
    font-style: italic;
}
#capitainhadock {
    border-radius: 30%;
    max-width: 100%;
    height: 40%;
    width: 40%;
}

footer {
    margin-top: 55px;
    font-size: smaller;
    font-style: italic;
    text-align: center;
    text-decoration: none;
    background-color: #6D76CB;
    color:whitesmoke;
    padding: 20px;
}
#emailmoi {
    color:whitesmoke;
}
#emailmoi:hover{
    background-color: none;
}


